$lightBlue:#F7FAFF;
$lightBlue2:#E1F2FF;
$blue: #006BFF;
$hoverBlue: #1A57EC;
$darkBlue: #1D344B;
$blueGray: rgb(71, 103, 136);
$darkBlueGray:#425466;
$textGray:#687685;
$textDarkGray: #55585d;
$loaderGray: #96A9BC;
$borderGray: rgb(235, 233, 233);